h1 {
  margin: 0;
}

.container {
  background-color: #f0efef;
  padding: 80px 0;
}

.donasi-lainnya {
  padding: 80px 0;
}

.group-card {
  display: grid;
  gap: 20px;
}

.card {
  background-color: var(--light);
  border-radius: 12px;
  text-align: center;
  border: 1px solid var(--border);
}

.detail {
  padding: 0 24px 24px;
}

.banner {
  background-color: var(--dark);
  height: 100px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.avatar img {
  margin-top: -4rem;
}

.activity-item {
  border: 1px solid var(--border);
}

.banner-donasi {
  padding: 42px 118px;
  background-image: url("tinified/Banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.banner-donasi-content {
  width: 40%;
  color: var(--light);
}

.banner-donasi-content h2 {
  font-size: 2rem;
  font-weight: bold;
}

.banner-donasi-container {
  margin-bottom: 80px;
}

@media (min-width: 1025px) {
  .group-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .anak-yatim,
  .donasi-lainnya-content {
    display: grid;
    gap: 32px;
  }
  .banner-donasi {
    padding: 42px 118px;
    background-image: url("assets/Banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
  }

  .banner-donasi-content {
    width: 40%;
    color: var(--light);
  }

  .banner-donasi-content h2 {
    font-size: 2rem;
    font-weight: bold;
  }
}
@media (max-width: 1024px) {
  .banner-donasi {
    padding: 42px 32px;
    background-image: url("assets/BannerMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }
  .anak-yatim,
  .donasi-lainnya-content {
    display: grid;
    gap: 16px;
  }

  .banner-donasi-content {
    color: var(--light);
    width: 100%;
  }

  .banner-donasi-content h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
